/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
  font-family: "Inter-Variable";
  src: url(./Inter-Variable.woff2) format("woff2");
  font-weight: 410;
  font-display: swap;
}
@font-face {
  font-family: "Inter-Variable-bolt";
  src: url(./Inter-Variable.woff2) format("woff2");
  font-weight: 715;
  font-display: swap;
}
@font-face {
  font-family: "PressStart2P";
  src: url(./PressStart2P-Regular.woff) format("woff");
  font-weight: 400, 785;
  font-display: swap;
  font-variation-settings: normal;
}
