/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.heart {
  inline-size: 30px;
  block-size: 35px;
}
.main-body {
  fill: transparent;
  transition: fill 0.3s linear 0s;
}
.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}
.contour {
  fill: var(--color-heart);
  transition: fill 0.1s linear 0s;
}
.sparks {
  fill: var(--animation-color);
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--color-heart);
  transition: fill 0.3s linear 0s;
}
.like-icon:hover .main-body {
  fill: var(--color-heart);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-color);
  transition: fill 0.3s linear 0s;
}
.like-icon:active .main-body {
  fill: var(--animation-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-color);
}
.like-icon.is-liked .main-body {
  fill: var(--animation-color);
  transition: fill 0.3s linear 0.05s;
}
.like-icon.is-liked .contour {
  fill: var(--animation-color);
  transition: fill 0.3s linear 0.06s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animation-sparks {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.is-liked .heart {
  transform-origin: center;
  animation-name: loading;
  animation-delay: 0.1s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}
.is-liked .sparks {
  animation-name: animation-sparks;
  animation-duration: 0.3s;
  animation-delay: 0.3s;
  animation-timing-function: ease-in;
}
