/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-fon), sans-serif;
  }
}
.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-position: center;
  font-family: var(--main-fon), sans-serif;
  min-block-size: 100dvb;
  background-attachment: fixed;
  background-size: cover;
  font-variation-settings: "wgth" 410, "wdth" 100;
  background-image: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      #d3d3d300 2px 4px
    ),
    repeating-linear-gradient(#d3d3d3 0 2px, #d3d3d300 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
}

.header {
  display: flex;
  margin-block-start: 100px;
  background-color: var(--themes-background);
  border: 2px solid var(--color-border-page);
  inline-size: var(--inline-size-block);
  max-inline-size: 700px;
}

.logo_group {
  margin: auto;
  margin-block-start: 129px;
  margin-block-end: 129px;
}
.title_logo {
  margin-block-end: 19px;
  text-transform: uppercase;
  font-size: 65px;
  font-family: var(--accent-font), sans-serif;
}
.text_logo {
  text-align: center;
  font-size: 23px;
  text-transform: uppercase;
  font-family: var(--accent-font), sans-serif;
}

.main {
  gap: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 97px;
  inline-size: var(--inline-size-block);
  max-inline-size: 700px;
}
.main_block {
  background-color: var(--themes-background);
  border: 2px solid var(--color-border-page);
}
.title_main_block {
  font-size: 18px;
  font-variation-settings: "wgth" 710, "wdth" 100;
  margin-inline-start: 9px;
  margin-block-start: 5px;
  margin-block-end: 5px;
}
.block_img {
  max-block-size: 695px;
  position: relative;
  border-block-start: 2px solid var(--color-border-page);
  border-block-end: 2px solid var(--color-border-page);
}
.img_main_block {
  object-fit: cover;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}
.img_layball {
  opacity: 0.5;
  position: absolute;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  mix-blend-mode: hard-light;
  right: 25px;
  top: 23px;
}
@supports (-webkit-text-stroke: 1px var(--layball-color-stroke)) {
  .img_layball {
    -webkit-text-stroke: 1px var(--layball-color-stroke);
  }
}
.text_main_block {
  gap: 25px;
  display: flex;
  flex-direction: column;
  margin-block-start: 29px;
  margin-inline-start: 25px;
  margin-inline-end: 25px;
}
.text {
  font-size: 18px;
}
.button_main_block {
  justify-content: end;
  margin-inline-end: 25px;
  margin-block-start: 26px;
  display: flex;
  margin-block-end: 26px;
}

.button {
  border: 2px solid var(--color-border-page);
}
.card__like-button {
  inline-size: 130px;
  block-size: 36px;
  padding-block-start: 4px;
}
.button_save {
  inline-size: 337px;
  margin-block-end: 100px;
  padding-block-end: 13px;
  padding-block-start: 14px;
  padding-inline-start: 17px;
  display: flex;
}
.button_dialog {
  inline-size: 95%;
  margin-block-end: 10px;
  margin-block-start: 28px;
  margin-inline-start: 7px;
  margin-inline-end: 7px;
  padding-block-start: 9px;
  padding-block-end: 6px;
}

.text_button {
  font-size: 14px;
  font-family: var(--accent-font), sans-serif;
}
.text_button_like {
  margin-block-start: 10px;
}
.text_button_save {
  padding-block-start: 5px;
  padding-inline-start: 5px;
}
.text_button_dialog {
  text-transform: uppercase;
}

.card__icon-button {
  margin-inline-end: 6px;
  block-size: 32px;
  border: none;
  background: none;
  padding: 1px;
  margin-block-start: 2px;
}
.like-icon {
  block-size: 32px;
  inline-size: 36px;
}

.folder {
  inline-size: 24px;
}

.dialog {
  inline-size: 350px;
}
.dialog_block {
  margin-inline-start: 7px;
  display: flex;
}
.folder_dialog {
  margin-block-start: 22px;
  inline-size: 39px;
  block-size: 39px;
}
.text_dialog {
  inline-size: 75%;
  padding-block-start: 11px;
  padding-inline-start: 20.5px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: var(--accent-font), sans-serif;
  line-height: 150%;
}

.dialog[open]::backdrop {
  backdrop-filter: brightness(30%);
}
.dialog[open] {
  translate: 0;
}

@media (width <= 1024px) {
  .page {
    inline-size: 100%;
  }
  .header {
    inline-size: 375px;
    margin-block-start: 100px;
  }
  .logo_group {
    margin-block-start: 120px;
    margin-block-end: 120px;
  }
  .title_logo {
    font-size: 49px;
  }
  .text_logo {
    font-size: 14px;
  }
  .main {
    margin-block-start: 101px;
    inline-size: 375px;
  }
  .title_main_block {
    margin-inline-end: 9px;
    margin-inline-start: 10px;
    margin-block-end: 3px;
    line-height: 22px;
  }
  .text_main_block {
    margin-block-start: 21px;
  }
  .button_main_block {
    margin-block-end: 27px;
    margin-block-start: 25px;
    margin-inline-end: 25px;
  }
  .text_button_save {
    padding-inline-start: 0;
    padding-block-end: 3px;
  }
  .img_main_block {
    max-block-size: 385px;
  }
  .block_img {
    max-block-size: 385px;
  }
  .button_save {
    inline-size: 82%;
    padding-inline-start: 7px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .folder {
    inline-size: 32px;
  }
  .dialog {
    margin: auto;
    inline-size: 375px;
    padding-inline-start: 35px;
    padding-inline-end: 35px;
  }
  .button_dialog {
    inline-size: 100%;
  }
  .text_dialog {
    inline-size: 100%;
  }
  .folder_dialog {
    margin-block-start: 22px;
    inline-size: 45px;
    block-size: 45px;
  }
  .dialog_block {
    margin-inline-start: 0;
  }
}
@media (width <= 375px) {
  .page {
    inline-size: 375px;
  }
}

.grayscale {
  filter: grayscale(60%);
}
.saturate {
  filter: saturate(200%);
}
.hue-rotate {
  filter: hue-rotate(30deg);
}
.invert {
  filter: invert(100%);
}
.grayscaleX2 {
  filter: grayscale(80%);
}
.blur {
  filter: blur(4px);
}
.hue-rotate_blur {
  filter: hue-rotate(90deg) blur(2px);
}

.button:focus-visible {
  outline: 2px solid transparent;
  box-shadow: 2px 2px 0px 0px var(--box-shadow-button-animation);
  transition: 0.3s ease;
}
.button {
  position: relative;
  overflow: hidden;
  background-color: var(--hover-background-animation-button);
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: #000000;
  z-index: 1;
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
}
.button:hover::before {
  transform: translateX(0);
}

.text_button,
.folder {
  mix-blend-mode: difference;
  color: white;
  stroke: white;
  position: relative;
  z-index: 1;
}

.card__icon-button:focus {
  outline: none;
}
.card__icon-button:focus-visible {
  outline: 2px solid var(--box-shadow-button-animation);
}
