/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: var(--font-inter), sans-serif;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-size: cover;
  background-image: repeating-linear-gradient(90deg, #d3d3d3, #d3d3d300 2px),
    repeating-linear-gradient(#d3d3d3, #d3d3d300 2px),
    linear-gradient(180deg, #e7e7e7 0%, #1a1a1a 100%);
}

.header {
  display: flex;
  margin-block-start: 100px;
  background-color: var(--Themes-background);
  border: 2px solid var(--color-border-page);
  inline-size: var(--inline-size-block);
}

.logo_group {
  margin: auto;
  margin-block-start: 129px;
  margin-block-end: 129px;
}
.title_logo {
  margin-block-end: 19px;
  text-transform: uppercase;
  font-size: 65px;
  font-family: var(--font-pressStart), sans-serif;
}
.text_logo {
  text-align: center;
  font-size: 23px;
  text-transform: uppercase;
  font-family: var(--font-pressStart), sans-serif;
}

.main {
  gap: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 97px;
  inline-size: var(--inline-size-block);
}
.main_block {
  background-color: var(--Themes-background);
  border: 2px solid var(--color-border-page);
}
.title_main_block {
  letter-spacing: 100%;
  font-size: 18px;
  font-family: var(--font-inter-bolt), sans-serif;
  margin-inline-start: 9px;
  margin-block-start: 5px;
  margin-block-end: 5px;
}
.block_img {
  max-block-size: 695px;
  position: relative;
  border-block-start: 2px solid var(--color-border-page);
  border-block-end: 2px solid var(--color-border-page);
}
.img_main_block {
  inline-size: 100%;
  max-block-size: 695px;
}
.img_layball {
  position: absolute;
  font-family: var(--font-pressStart), sans-serif;
  font-size: 14px;
  mix-blend-mode: hard-light;
  right: 25px;
  top: 27px;
  text-shadow: -1px 0 var(--layball-color-stroke),
    0 1px var(--layball-color-stroke), 1px 0 var(--layball-color-stroke),
    0 -1px var(--layball-color-stroke);
}
@supports (text-stroke: 4px var(--layball-color-stroke)) {
  span {
    text-stroke: 4px var(--layball-color-stroke);
    text-shadow: none;
  }
}
.text_main_block {
  gap: 25px;
  display: flex;
  flex-direction: column;
  margin-block-start: 29px;
  margin-inline-start: 25px;
  margin-inline-end: 25px;
}
.text {
  font-size: 18px;
}
.button_main_block {
  justify-content: end;
  margin-inline-end: 25px;
  margin-block-start: 26px;
  display: flex;
  margin-block-end: 26px;
}
.card__like-button {
  inline-size: 130px;
  border: 2px solid var(--color-border-page);
  text-align: center;
}
.button__text {
  margin-block-start: 10px;
  margin-block-start: 10px;
  font-size: 14px;
  font-family: var(--font-pressStart), sans-serif;
}
.card__icon-button {
  margin-inline-end: 6px;
  block-size: 36px;
  border: none;
  background: none;
  padding: 1px;
}
.like-icon {
  block-size: 34px;
  inline-size: 36px;
  transform-origin: center;
}
.button_save {
  border: 2px solid var(--color-border-page);
  inline-size: 48%;
  margin-block-end: 100px;
}
.save_block {
  margin-block-start: 14px;
  margin-block-end: 11px;
  margin-inline-start: 13px;
  display: flex;
}
.folder {
  inline-size: 24px;
}
.text_save {
  padding-block-start: 5px;
  padding-inline-start: 5px;
  font-size: 14px;
  font-family: var(--font-pressStart), sans-serif;
}

.dialog {
  inline-size: 24%;
}
.dialog_block {
  margin-inline-start: 7px;
  display: flex;
}
.folder_dialog {
  margin-block-start: 22px;
  inline-size: 39px;
  block-size: 39px;
}
.text_dialog {
  inline-size: 75%;
  padding-block-start: 11px;
  padding-inline-start: 20.5px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: var(--font-pressStart), sans-serif;
  line-height: 150%;
}
.button_dialog {
  margin-block-end: 10px;
  margin-block-start: 28px;
  padding-block-start: 9px;
  padding-block-end: 6px;
  inline-size: 95%;
  margin-inline-start: 7px;
  margin-inline-end: 7px;
  border: 2px solid var(--color-border-page);
}
.text_button_dialog {
  font-size: 14px;
  text-transform: uppercase;
  font-family: var(--font-pressStart), sans-serif;
}
.dialog[open]::backdrop {
  backdrop-filter: brightness(30%);
}
.dialog[open] {
  translate: 0;
}

@media (width <= 375px) {
  .page {
    inline-size: 375px;
  }
  .header {
    inline-size: 375px;
    margin-block-start: 100px;
  }
  .logo_group {
    margin-block-start: 120px;
    margin-block-end: 120px;
  }
  .title_logo {
    font-size: 49px;
  }
  .text_logo {
    font-size: 14px;
  }
  .dialog {
    margin: auto;
    inline-size: 375px;
  }
  .main {
    margin-block-start: 101px;
    inline-size: 100%;
  }
  .title_main_block {
    margin-inline-end: 9px;
    margin-inline-start: 10px;
    margin-block-end: 3px;
    line-height: 22px;
  }
  .text_main_block {
    margin-block-start: 19px;
  }
  .button_main_block {
    margin-block-end: 25px;
  }
  .button_main_block {
    margin-block-start: 25px;
    margin-inline-end: 25px;
  }
  .card__like-button {
    padding-block-start: 9px;
    padding-block-end: 5px;
  }
  .img_main_block {
    max-block-size: 385px;
  }
  .block_img {
    max-block-size: 385px;
  }

  .button_save {
    inline-size: 82%;
  }
  .save_block {
    margin-block-start: 13px;
    margin-block-end: 13px;
    margin-inline-start: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .folder {
    inline-size: 32px;
  }
  .text_save {
    padding-block-start: 4px;
    padding-inline-start: 0;
  }
  .dialog {
    padding-inline-start: 35px;
    padding-inline-end: 35px;
  }
  .button_dialog {
    inline-size: 100%;
  }
  .text_dialog {
    inline-size: 100%;
  }
  .folder_dialog {
    margin-block-start: 22px;
    inline-size: 45px;
    block-size: 45px;
  }
  .dialog_block {
    margin-inline-start: 0;
  }
}

.grayscale {
  filter: grayscale(60%);
}
.saturate {
  filter: saturate(200%);
}
.hue-rotate {
  filter: hue-rotate(30deg);
}
.invert {
  filter: invert(100%);
}
.grayscaleX2 {
  filter: grayscale(80%);
}
.blur {
  filter: blur(4px);
}
.hue-rotate_blur {
  filter: hue-rotate(90deg) blur(2px);
}

.card__like-button:focus-visible,
.button_save:focus-visible,
.button_dialog:focus-visible {
  outline: 2px solid transparent;
  box-shadow: 2px 2px 0px 0px var(--box-shadow-button-animation);
  transition: 0.3s ease;
}

.card__like-button,
.button_save,
.button_dialog {
  position: relative;
  overflow: hidden;
  background-color: var(--hover-background-animation-button);
}
.card__like-button::before,
.button_save::before,
.button_dialog::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: #000000;
  z-index: 1;
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
}
.card__like-button:hover::before,
.button_save:hover::before,
.button_dialog:hover::before {
  transform: translateX(0);
}
.button__text,
.text_save,
.text_button_dialog,
.folder {
  mix-blend-mode: difference;
  color: white;
  stroke: white;
  position: relative;
  z-index: 1;
}

.card__icon-button:focus {
  outline: none;
}
.card__icon-button:focus-visible {
  outline: 2px solid var(--box-shadow-button-animation);
}
