/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-fon: "Inter-Variable";
  --accent-font: "PressStart2P";
  --inline-size-block: 48.5%;
  --themes-background: white;
  --animation-color: red;
  --color-heart: black;
  --box-shadow-button-animation: black;
  --hover-background-animation-button: white;
  --color-border-page: black;
  --layball-color-stroke: white;
}
